<ion-header>

  <ion-navbar>
    <ion-title>Users</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ng-container *ngIf="auth.user | async as currentUser">

        <ion-list>
            <ion-item *ngFor="let user of users | async; trackBy: trackByFn">
              <ion-avatar item-start>
                <img [src]="user.photoURL">
              </ion-avatar>
              <h2>{{ user.displayName }}</h2>

              <user-relationship 
                  [currentUserId]="currentUser.uid"
                  [followId]="user.uid">
              </user-relationship>

            </ion-item>
          </ion-list>

    </ng-container>
</ion-content>
